* {
  font-family: "Roboto", sans-serif;
}

.bg {
  background: linear-gradient(90deg, #1A1A1A 24.97%, #1A1A1A 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1A1A1A 100%);
  background-size: cover;
  background-position: center;
  min-height: 480px;
}